div.buttonBox {
    position: absolute;
    right: 2%;
    top: 3%;
}


button {
    border: none;
    font-family: Arial Black;
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    width: 90px;
}
@media (min-width : 600px) {
    button {
        font-size: 24px;
        width: 170px;
    }
}


form {
    display: inline-block;
}


h3 {
    font-size: 24px;
    font-family: American Typewriter;
}
@media (min-width : 600px) {
    h3 {
        font-size: 42px;
        font-family: Times New Roman;
    }
}

div.authorBody {
    position: absolute;
    top: 12%;
}
@media (min-width : 600px) {
    div.authorBody {
        width: 700px;
        height: auto;
        position: absolute;
        left: 10%;
    }
}


p.pitch {
    font-size: 14px;
}
@media (min-width: 600px) {
    p.pitch {
        font-size: 20px;
    }
}


p.email {
    font-size: 14px;
}
@media (min-width: 600px) {
    p.email {
        font-size: 20px;
    }
}





p {
    font-family: Helvetica
}