div.buttonBox {
    position: absolute;
    right: 1%;
    top: 3%;
}


body {
    background: url("images/author-background.jpg") no-repeat right bottom;
    background-size: 25% 30%;
}
@media (min-width: 60em) {
    body {
        background-size: 15% 30%;
    }
}



button {
    border: none;
    font-family: Arial Black sans serif;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
    width: 90px;
    font-weight: bold;
    float: right;
}
@media (min-width: 60em) {
    button {
        font-size: 24px;
        width: 170px;
        font-family: Arial Black;
    }
}


form {
    display: inline-block;
}


h3 {
    font-size: 24px;
    font-family: Times New Roman;
}
@media (min-width: 60em) {
    h3 {
        font-size: 42px;
        font-family: American Typewriter;
    }
}

div.authorBody {
    position: absolute;
    top: 12%;
    padding: 16px;
}
@media (min-width: 60em) {
    div.authorBody {
        width: 700px;
        height: auto;
        position: absolute;
        left: 10%;
        padding: 0px;
    }
}


p.pitch {
    font-size: 14px;
}
@media (min-width: 60em) {
    p.pitch {
        font-size: 20px;
    }
}


p.email {
    font-size: 14px;
}
@media (min-width: 60em) {
    p.email {
        font-size: 20px;
    }
}





p {
    font-family: Helvetica
}