div.buttonBox {
    position: absolute;
    right: 2%;
    top: 3%;
}

button {
    border: 3px solid;
    font-family: Arial Black;
    font-size: 24px;
    background-color: rgba(0,0,0,0);
    width: 180px
}

form {
    display: inline-block;
}



div.authorBody {
    width: 700px;
    height: auto;
    position: absolute;
    left: 10%;
    top: 18%;
}
p.pitch {
    font-size: 20px;
}
p.email {
    font-size: 20px;
}



h3 {
    padding: 10px;
    font-size: 50px;
    font-family: American Typewriter;
}



p {
    font-family: Helvetica
}