div.buttonBox {
    position: absolute;
    right: 2%;
    top: 3%;
}

button {
    border: none;
    font-family: Arial Black;
    font-size: 24px;
    background-color: rgba(0,0,0,0);
    width: 170px
}




div.bookBody {
    font-size: 22px;
    width: 900px;
    position: relative;
    left: 38%;
    top: 18%;
    height: auto;
    line-height: 1.5;
}

form {
    display: inline-block;
}


h1 {
    padding: 10px;
    font-size: 60px;
    font-family: Helvetica;
    position: absolute;
    left: 38%;
    top: 3%;
}

h3 {
    padding: 10px;
    font-size: 30px;
    font-family: Helvetica;
}



br {
   display: block;
   margin: 10px;
}

body {
    background: white url("images/spruce-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


