

div.buttonBox {
    position: absolute;
    right: 2%;
    top: 3%;
}


button {
    border: none;
    font-family: Arial Black sans serif;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
    width: 90px;
    font-weight: bold;
}
@media (min-width: 600px) {
    button {
        font-size: 24px;
        width: 170px;
        font-weight: normal;
    }
}



div.bookBody {
    font-size: 12px;
    width: 100%;
    height: auto;
    line-height: 1.5;
    position: absolute;
    top: 18%;
    padding: 16px;
}
@media (min-width: 600px) {
    div.bookBody {
        font-size: 22px;
        position: relative;
        left: 38%;
        top: 27%;
        padding: 0px;
    }
}



form {
    display: inline-block;
}


h1 {
    padding: 0px;
    font-size: 24px;
    font-family: Helvetica;
    position: absolute;
    top: 12%;
}
@media (min-width: 600px) {
    h1 {
        padding: 10px;
        font-size: 60px;
        position: absolute;
        left: 38%;
        top: 12%;
    }
}

h3 {
    font-size: 18px;
    font-family: Helvetica;
    padding: 16px;
}
@media (min-width: 600px) {
    h3 {
        padding: 10px;
        font-size: 30px;
        padding: 0px;
    }
}



br {
   display: block;
   margin: 5px;
}
@media (min-width : 600px) {
    br {
        padding: 10px;
    }
}

body{
    background: white;
}
@media (min-width: 600px) {
    body {
        background: white url("images/spruce-background.jpg") no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
    }
}



