

div.buttonBox {
    position: absolute;
    right: 1%;
    top: 3%;
}

button {
    border: none;
    font-family: Arial Black sans serif;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
    width: 80px;
    color: black;
    font-weight: bold;
    float: right;
}
@media (min-width: 60em) {
    button {
        font-size: 24px;
        width: 170px;
        color: black;
        font-family: Arial Black;
    }
}


form {
    display: inline-block;
}


h3 {
    font-size: 24px;
    font-family: Times New Roman;
}
@media (min-width: 60em) {
    h3 {
        font-size: 42px;
        font-family: American Typewriter;
    }
}



body {
    background: whiteurl("images/poem-background mobile.jpg") no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}
@media (min-width: 30em) and (orientation: landscape) {
    body {
        background: white url("images/poem-background landscape.jpg") no-repeat;
        background-attachment: scroll;
        background-size: 100% 100%;
    }
}
@media (min-width: 60em) {
    body {
        background: white url("images/poem-background.jpg") no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
}


div.poemBody {
    line-height: 1.5;
    height: auto;
    font-size: 13px;
    font-family: Times New Roman;
    position: absolute;
    top: 12%;
    padding: 16px;
}
@media (min-width: 60em) {
    div.poemBody {
        position: absolute;
        top: 12%;
        left: 10%;
        font-size: 24px;
        font-family: American typewriter;
        padding: 0px;
    }
}

