div.buttonBox {
    position: absolute;
    right: 1%;
    top: 3%;
}

button {
    border: none;
    font-family: Arial Black sans serif;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
    color: rgb(80,0,0);
    width: 90px;
    font-weight: bold;
    float: right;
}
@media (min-width: 961px) {
    button {
        font-size: 24px;
        width: 170px;
        font-family: Arial Black;
    }
}


h1 {
    padding: 0px;
    font-size: 32px;
    color: rgb(80,0,0);
    font-family: Helvetica;
}
@media (min-width: 961px) {
    h1 {
        font-size: 72px;
        padding: 10px;
    }
}




form {
    display: inline-block;
}


p {
    color: rgb(80,0,0);
    padding: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
@media (min-width: 961px) {
    p {
        font-size: 24px;
        padding: 5px;
    }
}


div.mainBody {
    position: absolute;
    top: 12%;
    padding: 16px;
}
@media (min-width: 961px) {
    div.mainBody {
        position: absolute;
        left: 10%;
        top: 12%;
        padding: 0px;
    }
}


body {
    background: white url("images/Optimized-background - mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media (min-width: 480px) and (orientation: landscape) {
    body {
        background: white url("images/Optimized-background - landscape.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
@media (min-width: 961px) {
    body {
        background: white url("images/Optimized-background.gif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
