div.buttonBox {
    position: absolute;
    right: 2%;
    top: 3%;
}

button {
    border: 3px solid rgb(80,0,0);
    font-family: Arial Black;
    font-size: 24px;
    background-color: rgba(0,0,0,0);
    color: rgb(80,0,0);
    width: 180px;
}



h1 {
    padding: 10px;
    font-size: 72px;
    color: rgb(80,0,0);
    font-family: Helvetica;
}




form {
    display: inline-block;
}


p {
    color: rgb(80,0,0);
    padding: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}


div.mainBody {
    position: absolute;
    left: 10%;
    top: 18%;
}


body {
    background: white url("images/background.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}