{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'writing/author.css' %}">


<style>
    button {
        border: 3px solid;
        position: relative;
        font-family: Arial Black;
        font-size: 17px;
        top: 25px;
        left: 91.2%;
        background-color: rgba(0,0,0,0);
        width: 130px
    }
    .authorBody {
        width: 700px;
        height: auto;
        position: relative;
        left: 2%;
        top: -10%;
    }
    .pitch {
        font-size: 20px;
    }
    .email {
        font-size: 20px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>


<div>
    <form action='/app' method='GET'>
        <button type='submit'>HOME</button>
    </form>
    <form action='/app/odinsbane' method='GET'>
        <button type='submit'>ODINSBANE</button>
    </form>
    <form action='/app/poem' method='GET'>
        <button type='submit'>POEMS</button>
    </form>
</div>

<div class="authorBody">
    <h3>Sigurd Vidarsson</h3>
    <p class="pitch">
        I am seeking representation for the completed Viking fantasy novel Odinsbane.
    </p>
    <p class="email">
        sigurd.vidarsson@gmail.com
    </p>
</div>




</body>
</html>