{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'author.css' %}">
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-44KX9YVLYQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-44KX9YVLYQ');
</script>

<body>


<div class="buttonBox">
    <form action='/' method='GET'>
        <button type='submit'>HOME</button>
    </form>
    <form action='/odinsbane' method='GET'>
        <button type='submit'>ODINSBANE</button>
    </form>
    <form action='/poem' method='GET'>
        <button type='submit'>POEMS</button>
    </form>
    <div class="dropdown">
        <input id="dropcheck" class="dropcheck" type="checkbox">
        <label for="dropcheck" class="dropbtn">STORIES</label>
        <div class="dropdown-content">
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/1">Midgard</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/2">Alfheim</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/flame.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/3">First forever</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/4">Svartalfheim</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/5">Jotunheim</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/flame.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/6">Exit</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/7">Muspelheim</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/8">Nithavellir</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="static/images/flame.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/9">Hex ring</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="authorBody">
    <h3>Sigurd Vidarsson</h3>
    <p>
        I write fantasy stories set in my old home Norway and some experimental stories. I like any bit of fantasy, especially if it is twisted and a little dark. Everything of mine is rooted in a sense of place and history, and I love to work with mythology.
    </p>
    <p>
        My biggest work is the Odinsbane saga. You can find the first 10 pages on the Odinsbane page on this site. I've written the first book, and I seek agent representation. Please feel free to contact me about such and other opportunities on sigurd.vidarsson@gmail.com.
    </p>
    <p>
        You can find the best of my smaller writings on this site. I also post under the Reddit handle HermitHuldrekall, usually seeking feedback before posting the finished versions here.
    </p>
    <p>
        Beyond writing, I spend my days crunching numbers and trading the stock market for my day job. I also like to think I am a passable software developer, as I made this site with AWS and Django. On my remaining spare time, I like to play tennis, brew my own beer, and paint after Bob Ross' old videos.
    </p>
    <p>
        That's about me. You have come to the place where I express myself. Please let yourself be entertained.
    </p>
</div>


</body>
</html>