{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'author.css' %}">
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>


<div class="buttonBox">
    <form action='/' method='GET'>
        <button type='submit'>HOME</button>
    </form>
    <form action='/odinsbane' method='GET'>
        <button type='submit'>ODINSBANE</button>
    </form>
    <form action='/poem' method='GET'>
        <button type='submit'>POEMS</button>
    </form>
</div>

<div class="authorBody">
    <h3>Sigurd Vidarsson</h3>
    <p class="pitch">
        I am seeking representation for the completed Viking fantasy novel Odinsbane.
    </p>
    <p class="email">
        sigurd.vidarsson@gmail.com
    </p>
</div>




</body>
</html>