
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A writing spot</title>
</head>

<body>

<div class="buttonBox">
    <form action='/odinsbane' method='GET'>
        <button type='submit'>ODINSBANE</button>
    </form>
    <form action='/poem' method='GET'>
        <button type='submit'>POEMS</button>
    </form>
    <form action='/author' method='GET'>
        <button type='submit'>AUTHOR</button>
    </form>
</div>

<div class="mainBody">
    <h1>A space for words.</h1>
    <br>
    <p>{{ haiku.line_1 }}</p>
    <p>{{ haiku.line_2 }}</p>
    <p>{{ haiku.line_3 }}</p>
</div>


</body>
</html>