
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A writing spot</title>
</head>

<body>

<div class="buttonBox">
    <form action='/odinsbane' method='GET'>
        <button type='submit'>ODINSBANE</button>
    </form>
    <form action='/poem' method='GET'>
        <button type='submit'>POEMS</button>
    </form>
    <div class="dropdown">
        <input id="dropcheck" class="dropcheck" type="checkbox">
        <label for="dropcheck" class="dropbtn">STORIES</label>
        <div class="dropdown-content">
            <a href="/story/1">Midgard</a>
            <a href="/story/2">Alfheim</a>
            <a href="/story/3">First forever</a>
            <a href="/story/4">Svartalfheim</a>
            <a href="/story/5">Jotunheim</a>
        </div>
    </div>
    <form action='/author' method='GET'>
        <button type='submit'>AUTHOR</button>
    </form>
</div>

<div class="mainBody">
    <h1>A space for words.</h1>
    <div class="haikuBody">
        <p>{{ haiku.line_1 }}</p>
        <p>{{ haiku.line_2 }}</p>
        <p>{{ haiku.line_3 }}</p>
    </div>
</div>


</body>
</html>