{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'odinsbane.css' %}">
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odinsbane</title>
</head>

<body>

<div class="buttonBox">
    <form action='/' method='GET'>
        <button type='submit'>HOME</button>
    </form>
    <form action='/poem' method='GET'>
        <button type='submit'>POEMS</button>
    </form>
    <form action='/author' method='GET'>
        <button type='submit'>AUTHOR</button>
    </form>
</div>

<h1>Odinsbane</h1>

<br>

<div class="bookBody">
    <h3>
        {{ prologue.title }}
    </h3>

    {{ prologue.text|linebreaks }}

    <br>
    <h3>
        {{ chapter1.title }}
    </h3>
    {{ chapter1.text|linebreaks }}
</div>


</body>
</html>