{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'poem.css' %}">
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poem</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-44KX9YVLYQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-44KX9YVLYQ');
</script>

<body>

<div class="buttonBox">
    <form action='/' method='GET'>
        <button type='submit'>HOME</button>
    </form>
    <form action='/odinsbane' method='GET'>
        <button type='submit'>ODINSBANE</button>
    </form>
    <form action='/poem' method='GET'>
        <button type='submit'>MORE POEM</button>
    </form>
    <div class="dropdown">
        <input id="dropcheck" class="dropcheck" type="checkbox">
        <label for="dropcheck" class="dropbtn">STORIES</label>
        <div class="dropdown-content">
            <a href="/story/1">Midgard</a>
            <a href="/story/2">Alfheim</a>
            <a href="/story/3">First forever</a>
            <a href="/story/4">Svartalfheim</a>
            <a href="/story/5">Jotunheim</a>
            <a href="/story/6">Exit</a>
            <a href="/story/7">Muspelheim</a>
            <a href="/story/8">Nithavellir</a>
            <a href="/story/9">Hex ring</a>
        </div>
    </div>
    <form action='/author' method='GET'>
        <button type='submit'>AUTHOR</button>
    </form>
</div>

<div class="poemBody">
    <h3>
        {{ poem.title }}
    </h3>

    {{ poem.text|linebreaks }}
</div>

</body>
</html>