{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'story.css' %}">
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-44KX9YVLYQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-44KX9YVLYQ');
</script>

<body>

<div class="buttonBox">
    <form action='/' method='GET'>
        <button type='submit'>HOME</button>
    </form>
    <form action='/odinsbane' method='GET'>
        <button type='submit'>ODINSBANE</button>
    </form>
    <form action='/poem' method='GET'>
        <button type='submit'>POEMS</button>
    </form>
    <div class="dropdown">
        <input id="dropcheck" class="dropcheck" type="checkbox">
        <label for="dropcheck" class="dropbtn">STORIES</label>
        <div class="dropdown-content">
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/1">Midgard</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/2">Alfheim</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/flame.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/3">First forever</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/4">Svartalfheim</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/5">Jotunheim</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/flame.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/6">Exit</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/7">Muspelheim</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/helmet.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/8">Nithavellir</a>
                </div>
            </div>
            <div class="story-container">
                <div class="story-icon">
                    <img src="../static/images/flame.png"</img>
                </div>
                <div class="story-link">
                    <a href="/story/9">Hex ring</a>
                </div>
            </div>
        </div>
    </div>
    <form action='/author' method='GET'>
        <button type='submit'>AUTHOR</button>
    </form>
</div>

{% load social_share %}
{% post_to_facebook object_or_url %}
{% post_to_reddit object_or_url %}

<div class="storyBody">

    <h3>
        {{ story.title }}
    </h3>

    {{ story.text|linebreaks }}

</div>


</body>
</html>