{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'story.css' %}">
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
</head>

<body>

<div class="buttonBox">
    <form action='/' method='GET'>
        <button type='submit'>HOME</button>
    </form>
    <form action='/odinsbane' method='GET'>
        <button type='submit'>ODINSBANE</button>
    </form>
    <form action='/poem' method='GET'>
        <button type='submit'>POEMS</button>
    </form>
    <div class="dropdown">
        <input id="dropcheck" class="dropcheck" type="checkbox">
        <label for="dropcheck" class="dropbtn">STORIES</label>
        <div class="dropdown-content">
            <a href="/story/1">Midgard</a>
            <a href="/story/2">Alfheim</a>
            <a href="/story/3">First forever</a>
            <a href="/story/4">Svartalfheim</a>
            <a href="/story/5">Jotunheim</a>
            <a href="/story/6">Exit</a>
            <a href="/story/7">Muspelheim</a>
            <a href="/story/8">Nithavellir</a>
            <a href="/story/9">Hex ring</a>
        </div>
    </div>
    <form action='/author' method='GET'>
        <button type='submit'>AUTHOR</button>
    </form>
</div>


<div class="storyBody">

    <h3>
        {{ story.title }}
    </h3>

    {{ story.text|linebreaks }}

</div>


</body>
</html>