

div.buttonBox {
    position: absolute;
    right: 1%;
    top: 3%;
}


button {
    border: none;
    font-family: Arial Black sans serif;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
    width: 90px;
    font-weight: bold;
    float: right;
}
@media (min-width: 60em) {
    button {
        font-size: 24px;
        width: 170px;
        font-family: Arial Black;
    }
}



div.bookBody {
    font-size: 10px;
    height: auto;
    line-height: 1.5;
    position: absolute;
    top: 22%;
}
@media (min-width: 60em) {
    div.bookBody {
        font-size: 22px;
        position: relative;
        width: 70%;
        left: 38%;
        top: 27%;
    }
}



form {
    display: inline-block;
}


h1 {
    font-size: 24px;
    font-family: Helvetica;
    position: absolute;
    top: 12%;
    left: 3%;
}
@media (min-width: 60em) {
    h1 {
        font-size: 60px;
        position: absolute;
        left: 38%;
        top: 12%;
    }
}

h3 {
    font-size: 18px;
    font-family: Helvetica;
}
@media (min-width: 60em) {
    h3 {
        font-size: 30px;
    }
}



br {
   display: block;
   margin: 5px;
}
@media (min-width : 60em) {
    br {
        padding: 10px;
    }
}


body {
    position: relative;
}
body:after {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-image: url("images/spruce-background - mobile.jpg");
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: bottom right;
}
@media (min-width: 30em) and (orientation: landscape) {
    body {
        background: white url("images/spruce-background - landscape.jpg") no-repeat center center;
        background-size: 100% 100%;
    }
}
@media (min-width: 60em) {
    body {
        background: white url("images/spruce-background.jpg") no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
    }
}






