

div.buttonBox {
    position: absolute;
    right: 1%;
    top: 3%;
}

button {
    border: none;
    font-family: Arial Black sans serif;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
    width: 80px;
    color: black;
    font-weight: bold;
    float: right;
}
@media (min-width: 961px) {
    button {
        font-size: 24px;
        width: 170px;
        color: white;
        font-family: Arial Black;
    }
}


form {
    display: inline-block;
}


h3 {
    font-size: 24px;
    font-family: Times New Roman;
}
@media (min-width: 961px) {
    h3 {
        font-size: 42px;
        font-family: American Typewriter;
    }
}



body {
    background: white;
}
@media (min-width: 961px) {
    body {
        background: white url("images/pines.jpg") no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
    }
}


div.poemBody {
    line-height: 1.5;
    height: auto;
    width: 90%;
    font-size: 13px;
    font-family: Times New Roman;
    position: absolute;
    top: 12%;
    padding: 16px;
}
@media (min-width: 961px) {
    div.poemBody {
        width: 30%;
        position: absolute;
        top: 12%;
        left: 10%;
        font-size: 24px;
        font-family: American typewriter;
        color: white;
        padding: 0px;
    }
}

